In [3]:
def label_encode_categorical(data):
    encoded_data = []
    label_mapping = {}
    label_counter = 0

    for value in data:
        if value not in label_mapping:
            label_mapping[value] = label_counter
            label_counter += 1

    encoded_data = [label_mapping[value] for value in data]

    return encoded_data

categorical_data = ['red', 'blue', 'green', 'red', 'green', 'blue']
encoded_data = label_encode_categorical(categorical_data)
print(encoded_data)

[0, 1, 2, 0, 2, 1]

In [8]:
import pandas as pd

def one_hot_encode_categorical(dataframe, column_name):
    unique_categories = list(set(dataframe[column_name]))

    for category in unique_categories:
        new_column_name = f"{column_name}_{category}"
        dataframe[new_column_name] = (dataframe[column_name] == category).astype(int)

    dataframe = dataframe.drop(column_name, axis=1)

    return dataframe

my_data = {
    'patient_list': ['patient1', 'patient2', 'patient3', 'patient4', 'patient5'],
    'age_list': [35, 28, 42, 31, 45],
    'blood_group': ['A', 'B', 'O', 'AB', 'B']
}

patients_df = pd.DataFrame(my_data)

print("Original DataFrame:\n")
print(patients_df)

patients_df = one_hot_encode_categorical(patients_df, 'blood_group')

print("\nDataFrame after One-Hot Encoding:\n")
print(patients_df)

Original DataFrame:

  patient_list  age_list blood_group
0     patient1        35           A
1     patient2        28           B
2     patient3        42           O
3     patient4        31          AB
4     patient5        45           B

DataFrame after One-Hot Encoding:

  patient_list  age_list  blood_group_B  blood_group_O  blood_group_AB  \
0     patient1        35              0              0               0
1     patient2        28              1              0               0
2     patient3        42              0              1               0
3     patient4        31              0              0               1
4     patient5        45              1              0               0

   blood_group_A
0              1
1              0
2              0
3              0
4              0